<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kannan Portfolio</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="style.css" />
    <script src="script.js" defer></script>
  </head>
  <header class="sticky-header">
    <h1 id="hi">Hello there!...</h1>
    <nav>
      <ul>
        <li><a href="#about">About</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#visionary">Visionary</a></li>
        <li><a href="#project">Project</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
  </header>
  <main>
      <section id="skills">
        <h1>Skills</h1>
        <p>Here are some of my skills on which I have learnt</p>
        <div id="skmain">
          <h1>Fronted</h1>
          <div id="sk1">
            <img src="/HTML.png" alt="Html Picture" />HTML

            <img src="/CSS.png" alt="Css Picture" />CSS
            <img src="/JaavaScript.png" alt="Java Picture" />JavaScript
          </div>
          <h1>Others</h1>
          <div id="sk2">
            <img src="/Windows10.png" alt="Windows Picture" />Windows
            <img src="/365.png" alt="o365 Picture" />O365
            <img src="/VM Ware.png" alt="VM Ware Picture" />WmWare
          </div>
        </div>
      </section>
    </main>
    <footer>
      <p>&copy; 2024</p>
      <p>Elevating the Digital Experience!</p>
    </footer>
  </body>
</html>
