<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kannan Portfolio</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="style.css" />
    <script src="script.js" defer></script>
  </head>
  <header class="sticky-header">
    <h1 id="hi">Hello there!...</h1>
    <nav>
      <ul>
        <li><a href="#about">About</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#visionary">Visionary</a></li>
        <li><a href="#project">Project</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
  </header>
  <body>
    <main>
      <section id="visionary">
        <h1>Visionary</h1>
        <p>Launching My Career: A Fresh Perspective on Front-End Engineering</p>
        <div id="vsmain">
          <div id="vs1">
            <h1>Personalisation</h1>
            <h3>A insight of my individuality</h3>
            <p>
              Passionate and output-oriented technology enthusiast with a decade
              of experience in desktop support. Known for personalizing
              solutions to individuals' needs, leveraging a deep understanding
              of technology. Driven by a passion for technology, I actively seek
              opportunities for learning and growth, including participation in
              coding bootcamps and online courses. My commitment to excellence
              and innovation sets me apart as an asset in any software
              engineering team.
            </p>
          </div>

          <div id="vs2">
            <h1>Reason to hire me</h1>
            <h3>What Sets Me Apart</h3>
            <p>
              With a decade of experience as a dedicated desktop & server
              support professional, I bring a unique blend of technical
              expertise, problem-solving prowess, and a passion for technology
              to the table. What sets me apart is my seamless transition from
              desktop support to software engineering, driven by an insatiable
              curiosity and a hunger for innovation. I am committed to
              excellence in everything I do. My attention to detail, combined
              with a results-driven approach, ensures that I consistently
              deliver superior outcomes.
            </p>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <p>&copy; 2024</p>
      <p>Elevating the Digital Experience!</p>
    </footer>
  </body>
</html>
